html { background-color: #eee; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.login-container { 
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: black;
  padding: 0 10px; 
}

.login-email-input {
  margin-right: 1%;
}

.login-submit {
  background-color: goldenrod;
  color: whitesmoke;
}

.bold { font-weight: bold; }

input, input:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-family: inherit;
}

.login-submit, .login-email-input { 
  border-radius: 4px; 
  border: none; 
  padding: 10px 10px 10px;
}

.login-submit:active {
  opacity: 0.75;
}